@if (@ViewBag.SessionRoleID == "1")
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Mazaare3.com Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="~/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- styles -->
        <link href="~/dashboard/css/styles.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <!-- Logo -->
                        <div class="logo">
                            <h1><a asp-action="Index">Welcome @ViewBag.SessionV </a></h1>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="navbar navbar-inverse" role="banner">
                            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                        <ul class="dropdown-menu animated fadeInUp">
                                            <li><a href="profile.html">Profile</a></li>
                                            <li><a asp-action="Logout" asp-controller="Home" asp-area="default">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="sidebar content-box" style="display: block;">
                        <ul class="nav">
                            <!-- Main menu -->
                            <li class="current"><a asp-action="Index" asp-controller="Dashboard"><img src="~/img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a></li>

                            <li class="current"><a asp-action="Index" asp-controller="Dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                            <li><a asp-action="Index" asp-controller="Ads"><i class="glyphicon glyphicon-calendar"></i>  Ads </a></li>
                            @*  <li><a asp-action="SellAds" asp-controller="Ads"><i class="glyphicon glyphicon-stats"></i> Sell Ads </a></li>*@
                            @*<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                        <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                        <li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                        <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>*@
                            <!--<li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-list"></i> Pages
                        <span class="caret pull-right"></span>
                    </a>-->
                            <!-- Sub menu -->
                            <!--<ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>-->
                        </ul>
                    </div>

                </div>

            </div>

            <div class="content-box-large">
                @RenderBody()
            </div>
        </div>
       
        <footer>
            <div class="container">

                <div class="copy text-center">
                    Copyright DAS 2022   <a href='#'>Website</a>
                </div>

            </div>
        </footer>

        <script src="~/js/jquery-3.5.1.min.js"></script>

        <script src="~/js/bootstrap.bundle.min.js"></script>

        <script src="~/js/google-maps.js"></script>

        <script src="~/vendor/wow/wow.min.js"></script>

        <script src="~/js/theme.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html> 
}
else
{
   

}