@*@model User*@
@model Mazaare3.Models.ViewModel.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mazaare3</title>

    <link rel="stylesheet" href="../css/maicons.css">

    <link rel="stylesheet" href="../css/bootstrap.css">

    <link rel="stylesheet" href="../vendor/animate/animate.css">

    <link rel="stylesheet" href="../css/theme.css">



</head>
<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>

    <header>
        <nav id="topHead" class="navbar navbar-expand-lg navbar-light sticky" data-offset="500">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="../img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li id="homeNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li id="aboutNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li id="servicesNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Services">Our Services</a>
                        </li>
                        <li id="rentNav" class="nav-item">
                            <a class="nav-link" asp-action="Rent" asp-controller="Home">Rent</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="Sell" asp-controller="Home">Sell</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                        </li>
                        <li id="joinNav" class="nav-item">
                            <a class="btn btn-primary ml-lg-2" asp-action="JoinUs" asp-controller="Home">JOIN US /Login</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="page-section">

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0" style="padding: 12px; box-shadow: 2px 2px 10px grey; border-radius: 6px;">
 
                    <form asp-action="AdminLogin" method="post" class="form">

                        <div id="login-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="email">Email</label>
                                    <input type="email" asp-for="Email" id="login-email" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="password">Password</label>
                                    <input type="password" asp-for="Password" id="login-password" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group mt-4">
                                <div class="col-md-12">
                                        <h style="color:red">@Html.ValidationSummary(true)</h> 
                                    <input type="submit" value="Login" class="btn btn-secondary">

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer bg-image" style="background-image: url(../img/world_pattern.svg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 py-3">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="../img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>
                    <p>Mazaare3 is your portal to find specialist offers of villas & farms for rent or sale.</p>

                </div>
                <div class="col-lg-3 py-3">
                    <h5>Quick Links</h5>
                    <ul class="footer-menu">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Home" asp-action="Services">Our Services</a></li>
                        <li><a asp-action="Rent" asp-controller="Home">Rent</a></li>
                        <li><a asp-action="Sell" asp-controller="Home">Sell</a></li>
                        <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Contact Us</h5>
                    <p>007 Wakalat St. Amman JORDAN</p>
                    <a href="tel:+962787878787" class="footer-link">+962 7878 787 87</a>
                    <a href="mailto:support@mazaare3.com" class="footer-link">support@mazaare3.com</a>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Follow Us</h5>
                    <p>Stay up to date with latest news.</p>
                    <div class="social-media-button">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-google-plus-g"></span></a>
                        <a href="#"><span class="mai-logo-instagram"></span></a>
                        <a href="#"><span class="mai-logo-youtube"></span></a>
                    </div>
                </div>
            </div>

            <p class="text-center" id="copyright">Copyright &copy; 2022 Mazaare3, Powred by <a href="#" target="_blank">DAS software solutions</a></p>
        </div>
    </footer>

    <script src="../js/jquery-3.5.1.min.js"></script>

    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/google-maps.js"></script>

    <script src="../vendor/wow/wow.min.js"></script>

    <script src="../js/theme.js"></script>

    <script>
        $("#topHead").addClass("bg-green");
        $("#register-option").click(function () {
            $("#register-option").css("background", "#3fc080");
            $("#login-option").css("background", "#645F88");
            $("#login-form").slideUp(500);
            $("#registration-form").slideDown(500);
        });

        $("#login-option").click(function () {
            $("#login-option").css("background", "#3fc080");
            $("#register-option").css("background", "#645F88");
            $("#registration-form").slideUp(500);
            $("#login-form").slideDown(500);
        });

        // func - get type of sign-in from url (register / login)
        function GetUrlParameter(parameter) {
            var pageUrl = window.location.search.substring(1);
            var urlVar = pageUrl.split('&');
            for (var i = 0; i < urlVar.length; i++) {
                var parameterName = urlVar[i].split('=');
                if (parameterName[0] == parameter) {
                    return decodeURIComponent(parameterName[1]);
                }
            }
        }
        // call function to get ID from url ('register' = 0 / 'login' = 1)
        var signTypeID = GetUrlParameter('id');

        if (signTypeID != 1) {
            $("#login-option").trigger('click');
        } else {
            $("#register-option").trigger('click');
        }

    </script>
</body>
</html>
