
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-section" id="offers">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <br />
            <div class="subhead">Our services</div>
            <h2 class="title-section">How Mazaare3 Can Help</h2>
            <div class="divider mx-auto"></div>
        </div>

        <br>

        <div class="row align-items-center">
            <div class="col-lg-4 wow fadeInUp">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../img/offers.png" width="100" alt="">
                    </div>
                    <div class="body">
                        <p>We help you find your best choice with smart suggestion of featured offers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
                <div class="h5">Best Offers</div>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
            </div>
        </div>

        <br id="contact">

        <div class="row align-items-center" style="margin-top: 140px;">
            <div class="col-lg-4 wow fadeInUp">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../img/contact.png" width="100" alt="">
                    </div>
                    <div class="body">
                        <p>our professional support team is ready to help you any time, any where</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
                <div class="h5">24/7 Contact</div>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
            </div>
        </div>

        <br id="search">

        <div class="row align-items-center" style="margin-top: 140px;">
            <div class="col-lg-4 wow fadeInUp">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../img/search.png" width="100" alt="">
                    </div>
                    <div class="body">
                        <p>there alot listings!! don't worry, you can use advanced filters while searching</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-3 wow fadeInUp">
                <div class="h5">Easy Search</div>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
                <p>Text here txttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxttxt</p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->
